{% extends 'index.html' %}
{% block content %}
{% load static %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Authors</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Address</th>
				 </tr>
				
				<tr>
				 {% for author in authors %}
				 <td> {{author.first_name}}</td>
				 <td> {{author.last_name}}</td>
				 <td> {{author.address}}</td>
				 </tr>
				 {% endfor %}
				 
			</table>
		</div>
	</div>
	
</div>

{% endblock content %}