<!-- navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <img src="">
        <!-- Button for toggling the navigation menu on smaller screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation menu items -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'books' %}">Books</a>
                <a class="nav-link" href="{% url 'author' %}">Author</a>
                <a class="nav-link" href="{% url 'aggregation_results' %}">Aggregation</a>
            </div>
        </div>
    </div>
</nav>
